*.unityproj
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

*.csproj
*.vsconfig
.vs/
*.sln
Library/
obj/
Temp/
Logs/
.vscode/
UserSettings/
build/
BUILDS/
.idea/
UserData/
Recordings/
ExternalServerData/

.history/
.utmp/

settings.json
/Project/
Projects/
workspace/
plux_logs_file.txt
referencemap.xml
referenceType2File.xml
Installer/Output
artifacts/
CodeCoverage/